<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Empleado</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
</head>
<body class="container">
    <h2>Editar Empleado</h2><hr />
        <form method="post" th:action="@{/guardar}">
            <!-- COMPLETAR -->

            <div class="row">
                <div class="form-group col-6">
                    <label for="nombre">Nombre</label>
                    <input th:value="${Employees.nombre}" name="nombre" type="text" class="form-control" id="nombre">
                </div>
                <div class="form-group col-6">
                    <label for="apellido">Apellido</label>
                    <input th:value="${Employees.apellido}" name="apellido" type="text" class="form-control" id="apellido">
                </div>
            </div>

            <div class="form-group">
                <label for="correo">Correo Electrónico</label>
                <input th:value="${Employees.correo}" name="correo" type="text" class="form-control" id="correo">
            </div>

            <div class="row">
                <div class="form-group col-6">
                    <!-- COMPLETAR -->
                </div>
                <div class="form-group col-6">
                    <label for="sueldo">Sueldo</label>
                    <input th:value="${Employees.sueldo}" name="sueldo" type="text" class="form-control" id="sueldo">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-6">
                    <!-- COMPLETAR -->
                </div>
                <div class="form-group col-6">
                    <!-- COMPLETAR -->
                </div>
            </div>

            <a th:href="@{}" class="btn btn-danger"></a>                 <!-- COMPLETAR -->
            <!-- COMPLETAR -->
        </form>
    </body>
</html>